.toolbar {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 24px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

@media (--bp-820) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.empty {
  text-align: center;
  padding: 48px 0;
}
