.strip {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

@media (--bp-880) {
  .strip {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (--bp-480) {
  .strip {
    grid-template-columns: 1fr;
  }
}
